.text-output-feild{
    background-color: #323232;
    opacity: 1;
    /* height: 40vh; */
}

.custom-placeholderr::placeholder {
    color: #B1B1B1; 
}
.form-controll:focus {
background-color: 	#63666A;
}

.outputFeildHeader{
    height: 6.5vh;
    /* background-color: red; */
    background-color: #3A3A3A;
   
}

.speaker{
   height: 25px; 
}