.text-output-feild{
    background-color: #323232;
    opacity: 1;
    /* height: 40vh; */
}

.custom-placeholderr::placeholder {
    color: #B1B1B1; 
  }
  .form-controll:focus {
    background-color: 	#63666A;
  }
  